/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  /* line-height: 1.5; */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Typeography */

/* Library logo text */
.library {
  color: white;
}

/* Library logo */
.library-logo {
  height: 120px;
}

/* Body of the app */
body {
  background-color: black;
}

/* main app body */
main {
  display: flex;
  /* Doing this height will mess up the vertical aspect of the app */
  /* height: 100vh; */
  /* Doing this height will mess up the vertical aspect of the app */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: auto;
  padding: 1em;
  background-color: black;
}

/* welcome-container */

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(117, 215, 117);
  height: 7vh;
  border-radius: 2em;
  max-width: 200px;
  min-width: 300px;
  cursor: pointer;
  margin-top: 12px;
}

.welcome-container:hover {
  transform: scale(1.1);
  transition: 1s;
}

/* Text inside of the welcome container */

.welcome-container-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(108, 171, 108); */
  height: 10vh;
  padding: 2em;
  margin: auto;
  color: white;
}

/* Placeholder */

.placeholder {
  color: white;
  font-size: 2rem;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em;
}

/* Making the books inside of the books container wrap instead of just adding one on top of the other test this code with other apps!!! */
#books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* If styling messes up try to remove the padding here */
  padding: 1em;
}

/* Books containers */
.book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 16px;
  width: 250px;
  background-color: #fff;
  /* Switched to dark mode don't require borders */
  /* border: 1px solid #d3d3d3; */
  /* Switched to dark mode don't require borders */
  box-sizing: border-box;
  border-radius: 2em;
  overflow: hidden;
  position: relative;
  /* Animations that I did not create just copied */
  transition-duration: 0.218s;
  transition-property: background, border, opacity, box-shadow, transform;
  transition-timing-function: ease-in;
  /* Animations that I did not create just copied */
}

/* The hover affect of the div when we hover over our books */
.book:hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
}

/* The author portion of the div we create when we instanciate a new book */
.book-author {
  /* background-color: lightcoral; */
  padding: 17px;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5rem;
  min-height: 30px;
  transition: background-color 0.218s ease-in;
  box-sizing: border-box;
  outline: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* The book title portion of the div we create when we instanciate a new book */
.book-title {
  /* background-color: lightgreen; */
  font-size: 1rem;
  font-weight: 400;
  min-height: 30px;
  letter-spacing: 0.01428571em;
  padding: 17px;
  box-sizing: border-box;
  /* Not sure what the font-variant-ligatures mean or outline */
  font-variant-ligatures: none;
  outline: none;
  /* Not sure what the font-variant-ligatures mean or outline */
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* The number of pages portion of the div we create when we instanciate a new book */
.book-numOfPages {
  /* background-color: lightsalmon; */
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5rem;
  min-height: 30px;
  letter-spacing: 0.01428571em;
  padding: 10px;
  box-sizing: border-box;
  font-variant-ligatures: none;
  outline: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* The buttons div when we create a new instance of a book */
.buttons {
  padding: 0.8em;
  /* background-color: lightslategray; */
}

/* Modal that pops up when "Welcome Home!" is clicked! */
.add-book-modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* background-color: rgb(80, 80, 80); */
  background-color: white;
  margin: auto;
  max-height: 380px;
  max-width: 450px;
  min-width: 300px;
  cursor: pointer;
  border-radius: 2em;
  z-index: 999;
}

/* Working with the popup form items */
.add-book-modal-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: rgb(80, 80, 80); */
  min-height: 220px;
  max-height: 250px;
  max-width: 380px;
  margin: auto;
  margin-top: 50px;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

/* without this the inputs in the modal get really small */
.add-book-modal-form input {
  /* remove this and see what happens */
  min-width: 340px;
  padding: 1em;
}

/* container for the "Submit" and "Close" Buttons */
.form-buttons {
  /* background-color: rgb(80, 80, 80); */
  height: 10vh;
  max-width: 380px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

/* Positioning the form in the center of the green div */
#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Working with the input items */
input {
  border-radius: 2em;
  border: none;
  padding: 0.5em;
  margin-top: 0.5em;
  padding-left: 15px;
}

/* Working with the green button items */
.green-btn {
  cursor: pointer;
  border: none;
  border-radius: 1em;
  background-color: rgb(125, 211, 125);
  color: white;
  min-width: 155px;
  max-width: 200px;
  padding: 0.4em;
  font-size: 1.1rem;
  margin-inline: 0.8em;
}

/* working with the red button items */
.red-btn {
  cursor: pointer;
  border: none;
  border-radius: 1em;
  background-color: lightcoral;
  color: white;
  min-width: 155px;
  max-width: 200px;
  padding: 0.4em;
  font-size: 1.1rem;
  margin-inline: 0.8em;
}

/* working with done button styles */
.done-btn {
  border-radius: 1em;
  border: none;
  padding: 0.4em;
  width: 70px;
  background-color: rgb(117, 215, 117);
  color: white;
  cursor: pointer;
}

/* working with "Not done" btn */
.edit-btn {
  border-radius: 1em;
  border: none;
  padding: 0.4em;
  width: 70px;
  background-color: rgb(136, 199, 220);
  color: white;
  cursor: pointer;
}

/* working with "delete btn" */
.delete-btn {
  border-radius: 1em;
  border: none;
  padding: 0.4em;
  width: 70px;
  background-color: rgb(234, 115, 115);
  color: white;
  cursor: pointer;
}

/* edit book modal body */
.edit-book-modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* background-color: rgb(84, 84, 84); */
  background-color: white;
  border: 1px solid rgb(210, 210, 210);
  margin: auto;
  max-height: 250px;
  max-width: 320px;
  min-width: 300px;
  cursor: pointer;
  border-radius: 2em;
  z-index: 999;
  /* code to make the modal invisible by default */
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  /* code to make the modal invisible by default */
}

.open-modal {
  /* code to make the modal visible to the user again */
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  /* code to make the modal visible to the user again */
}

/* edit the content in the edit book modal */
.edit-book-modal-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  padding: 1em;
  margin: auto;
}

/* close button inside of our edit book modal */
.edit-book-modal-close-btn {
  text-align: center;
  border-radius: 1em;
  border: none;
  padding: 0.4em;
  width: 70px;
  background-color: rgb(136, 199, 220);
  color: white;
  cursor: pointer;
  margin-top: 1em;
}
